<%= form_for @ntcmarshal do |f| %>
  <% if @ntcmarshal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ntcmarshal.errors.count, "error") %> prohibited this marshal from being saved:</h2>
    <ul>
    <% @ntcmarshal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>  

  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>
<% end %>