<h1>Edit marshal</h1>

<%= form_for @ntcmarshal do |f| %>
  <% if @ntcmarshal.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ntcmarshal.errors.count, "error") %> prohibited this marshal from being saved:</h2>
    <ul>
    <% @ntcmarshal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= hidden_field_tag("ntcmarshal[exam_ids][]", nil) %>
    <% @exams.each do |exam| %>
      <div>
        <%= check_box_tag "ntcmarshal[exam_ids][]", exam.id, @ntcmarshal.exams.include?(exam) %>
        <%= exam.date %>
      </div>
    <% end %>
  </p>

  <p>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', ntcmarshals_path %>