<div class="container">
  <br />
  <h3><%= @ntcmarshal.name %></h3>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <% if ( @ntcmarshal.address.blank? && @ntcmarshal.phone.blank? && @ntcmarshal.email.blank? ) %>
          <p>No information provided</p>
        <% else %>
          <dl>
            <% if @ntcmarshal.phone.blank? == false %>
              <dt>Phone</dt><dd><%= @ntcmarshal.phone if !nil %></dd><br />
            <% end %>

            <% if @ntcmarshal.email.blank? == false %>
              <dt>Email</dt><dd><a class="mail"><%= @ntcmarshal.email if !nil %></a></dd><br />
            <% end %>

            <% if @ntcmarshal.address.blank? == false %>
              <dt>Address</dt><dd><%= @ntcmarshal.address %></dd>
            <% end %>
          </dl>
        <% end %>
      </div>
    </div>
  </div>

  <!-- This is to display what marshals are allocated to what exams -->
  <div class="row">
    <div class="col-md-6">
      <% if @ntcmarshal.exams.count > 0 %>
        <table class="table table-striped">
          <tr>
            <th>Exams scheduled:</th>
          </tr>
          <% @ntcmarshal.exams.sort { |a, b| b.date <=> a.date }.each do |exam| %>
            <tr>
              <td>
                <%= exam.date %> <br />
                <%= exam.name %> <br />
              </td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>

  </p>
  <!-- End of marshal exam allocation display -->

  <%= link_to 'Edit', edit_ntcmarshal_path, class: 'btn btn-success' %> &nbsp; <%= link_to 'View all marshals', ntcmarshals_path, class: 'btn btn-primary' %>
</div>
