<h1><%= @user.name %></h1>
<h3><a href="mailto:<%=@user.email%>"><%= @user.email %></a></h3>
<h3><%= @user.phone %></h3>
<% if current_user.admin %>
  <%= form_for(@user) do |f| %>

    <p>
      <%= f.check_box :admin, method: :toggle %>
      &nbsp;<%= f.label :admin, "Make admin" %>
    </p>

    <p>
      <%= f.submit "Update", class: "btn btn-primary" %>&nbsp;
      <%= link_to "Delete", @user, class: 'btn btn-danger', method: :delete,
      data: { confirm: "This will permanently remove this user's profile. Are you sure?" } %>
    </p>
  <% end %>
<% end %>
