<%= form_for @exam do |f| %>
  <% if @exam.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>
    <ul>
    <% @exam.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p class="form-group">
    <%= f.label :date %><br />
    <%= f.date_field :date %>
  </p>
  <p class="form-group">
    <%= f.label :name %><br />
    <%= f.text_area :name, class: "long-field", placeholder: "Clinical exam" %>
  </p>

  <p>
    <%= f.submit "Submit", class: "btn btn-success" %> &nbsp;
    <%= link_to 'Back', exams_path, class: 'btn btn-primary' %>
  </p>

<% end %>
