<h1>Edit exam</h1>

<%= form_for @exam do |f| %>
  <% if @exam.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>
    <ul>
    <% @exam.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= hidden_field_tag("exam[ntcmarshal_ids][]", nil) %>
      <% @ntcmarshals.each do |ntcmarshal| %>
        <div>
          <%= check_box_tag "exam[ntcmarshal_ids][]", ntcmarshal.id, @exam.ntcmarshals.include?(ntcmarshal) %>
          <%= ntcmarshal.name %>
        </div>
      <% end %>
      <br />
    </div>

    <div class="form-group col-md-4">
      <p>
        <%= f.label :date %><br />
        <%= f.date_field :date %>
      </p>
      <p>
        <%= f.label :name, "Exam name" %><br />
        <%= f.text_area :name, class: "long-field", placeholder: "Clinical exam" %>
      </p>

      <p>
        <%= f.submit "Submit", class: "btn btn-success" %> &nbsp;
        <%= link_to "View all exams", exams_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

<% end %>
