<h1>Exams <%= link_to 'New exam', new_exam_path, class: "btn btn-primary" %> </h1>
<table class="table table-striped">
  <th>Exam date</th>
  <th>Exam name</th>
  <th>Marshals rostered</th>
  <th></th>
  <th></th>
  <% @exams.each do |exam| %>
    <% if exam.date < Date.new %>
      <tr class="disabled" %>
    <% elsif exam.ntcmarshals.count > 5 && exam.date > Date.today %>
      <tr class="error">
    <% else %>
      <tr>
    <% end %>
        <td>
          <%= link_to exam.date, exam_path(exam) %>
        </td>
        <td style="max-width:200px;">
          <%= exam.name %>
        </td>
        <td>
          <% if exam.ntcmarshals.count == 5 || exam.date < Date.today %>
            <span class="label label-success"><%= exam.ntcmarshals.count %></span>
          <% elsif exam.ntcmarshals.count > 5 %>
            <span class="label label-default"><%= exam.ntcmarshals.count %></span>
          <% elsif exam.ntcmarshals.count > 0 %>
            <span class="label label-primary"><%= exam.ntcmarshals.count %></span>
          <% end %>
        </td>
        <td><%= link_to '', edit_exam_path(exam), class: "fa fa-pencil-square-o" %></td>
        <td><%= link_to '', exam_path(exam), class: "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
<br />
<%= will_paginate @exams, renderer: BootstrapPagination::Rails %>