<br />
<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Marshals scheduled:</strong>
</p>

<p>
  <% @exam.ntcmarshals.each do |ntcmarshal| %>
    <% if ntcmarshal.exams.count > 4 %>
      <span class="label label-success">
    <% else %>
      <span class="label label-primary">
    <% end %>
      <%= ntcmarshal.exams.count %>
    </span> &nbsp; <%= link_to ntcmarshal.name, controller: 'ntcmarshals', action: :show, id: ntcmarshal.id %> <br />
  <% end %>
</p>

<%= link_to 'Edit', edit_exam_path %> | <%= link_to 'Back', exams_path %>