<div class="col-md-3 col-xs-3">
  <div class="navbar navbar-default nav-length">
    <!-- For small screens and larger -->
    <ul class="nav nav-stacked hidden-xs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Marshals", controller: 'ntcmarshals' %></li>
      <li><%= link_to "Exams", controller: 'exams' %> </li>
      <li><%= link_to "Five timers", five_timers_path %> </li>
      <li><%= link_to "Newcomers", newbies_path %> </li>
      <li><%= link_to "Lead marshals", veterans_path %> </li>
    </ul>

    <!-- For extra small screens -->
    <ul class="nav nav-stacked visible-xs list-unstyled">
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
        <% end %>
      </li>
      <li>
        <%= link_to controller: 'ntcmarshals' do %>
          <i class="fa fa-user-md"></i>
        <% end %>
      </li>
      <li>
        <%= link_to controller: 'exams' do %>
          <i class="fa fa-calendar"></i>
        <% end %>
      </li>
      <li>
        <%= link_to five_timers_path do %>
          <span class="fa"><strong>5</strong></span>
        <% end %>
      </li>
      <li>
        <%= link_to newbies_path do %>
          <i class="fa fa-plus"></i>
        <% end %>
      </li>
      <li>
        <%= link_to veterans_path do %>
          <i class="fa fa-share"></i>
        <% end %>
      </li>
    </ul>

    <br/>
    <% if logged_in? %>
      <!-- For small screens and larger -->
      <ul class="nav nav-stacked hidden-xs">
        <li><%= link_to 'Staff members', users_path %></li>
        <li><%= link_to 'Profile', current_user %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
        <li><%= link_to 'Log out', logout_path, method: :delete %></li>
      </ul>

      <!-- For extra small screens -->
      <ul class="nav nav-stacked visible-xs list-unstyled">
        <li>
          <%= link_to users_path do %>
            <i class="fa fa-users"></i>
          <% end %>
        </li>
        <li>
          <%= link_to current_user do %>
            <i class="fa fa-user"></i>
          <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fa fa-cog"></i>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </li>
      </ul>
    <% else %>
      <!-- For small screens and larger -->
      <ul class="nav nav-stacked hidden-xs">
        <li><%= link_to 'Login', login_path %></li>
      </ul>

      <!-- For extra small screens -->
      <ul class="nav nav-stacked visible-xs list-unstyled">
        <li>
          <%= link_to login_path do %>
            <i class="fa fa-power-off"></i>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>

</div>
